<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8bd2ba961f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/extern.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    
    <header class="main-header">

        <div class="main-header-top-bar">

            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></a>
            <form class="form-group fg--search search-bar">
                <input type="text" class="input" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div>
                <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd cuotas-interes"></i>
                Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>

        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i> 
        </a>

        <nav class="main-navbar">

            <ul class="left-navbar">

                <li><a href="#">Ofertas</a></li>
                <li class="none-tablet"><a href="#">Tiendas oficiales</a></li>
                <li class="none-tablet"><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>

            <ul class="right-navbar">
                <li><a href="/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </nav>

        <img class="home-banner" src="/img/img-home-banner.jpg" alt="Home banner" style="align-self: stretch;">
    
    </header>

    <main class="register-main">
    
        <form class="register-form">
    
            <h1>Iniciar sesión</h1>
    
            <div class="mb-3">
    
                <input type="text" class="form-control" id="nombre-de-usuario-login" placeholder="Nombre de usuario" required minlength="6">
    
            </div>
    
            <div class="mb-3">
    
                <input type="password" class="form-control" id="contraseña-login" placeholder="Contraseña" required minlength="6">
    
            </div>
    
            <button class="btn btn-primary login-submit-btn">Acceder</button>
            
            <br>
    
        </form>
    
        </main>

    <footer class="main-footer">

        <section>

            <i class="fas fa-credit-card footer-icon"></i>
            <h3 class="footer-text">Pagá con tarjeta o efectivo</h3>
            <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        </section>

        <section>

            <i class="fas fa-gift footer-icon"></i>
            <h3 class="footer-text">Envío gratis desde los $2.500</h3>
            <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section>

            <i class="fas fa-user-shield footer-icon"></i>
            <h3 class="footer-text">Seguridad, de principio a fin</h3>
            <p class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        </section>

        <section>

            <br>
            <p class="copyright-info footer-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>

</body>

</html> 
    
</body>
</html>